<h1>Photo de chat-robot</h1>
<div>		
	<div class="container">
  		<div class="row">
			<% @items.each do |item| %>
				<div class="card col-4">
				<ul>
					<li> <%=item.title%> </li>
					<li> <%=item.price%> €</li>
					<% unless item.image_url.nil? %>
				          <li><%= image_tag item.image_url, class: "rounded-circle" %></li>
				    <% end %>
				</ul>
			</div>
			<%end%>
		</div>
	</div>
</div>

