</div>
<%@order.items.each do |list_command|%>
<a href="#">confirmer la commande</a>
<ul>
  <li><%= image_tag list_command.image_url, class: "rounded-circle" %></li>
  <li><%=list_command.title%></li>
  <li><%=list_command.price%> €</li>
</ul>
<%end%>