/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /*body{
 	background-image: linear-gradient(to bottom, #1CACF4, #84CCFC);
 }*/
 /*==================================================
 ===================================================*/
.btn-up{
		text-align: center;
		padding: 0px;
		width: 250px;
		height: 35px;
		line-height: 35px;
		border: solid;
		border-radius: 10px;
		margin: 0 auto;
}
.btn-up a{
			color: gray;
		text-decoration: none;
}

.list-cursor{
	cursor: pointer;
}

.back{
	background: rgba(0, 0, 10, 0.3);
}
.back-footer{
	background: rgba(0, 0, 10, 0.1);
}

/*===========================================================================
									MODAL
============================================================================*/

.modalo {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modalo-content {
 background-color: #fefefe;
 margin: 15% auto; /* 15% from the top and centered */
 padding: 20px;
 border: 1px solid #888;
 width: 45%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
 color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

.close1 {
color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;	
}
.close:hover,
.close:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}

.close1:hover,
.close1:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}
/*===========================================================================
									INDEX
============================================================================*/
.global-container{
	padding: 0 0 15px 0;
}
.global-container h1{
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 50px;
}
.container-index{
width: 1362px;
margin: 0 auto;
}

.index-content{
	width: 1246px;
	margin: 0px auto;
	max-width: 1246px;

}
.boutton{
	display: none;
}
.card-style{
	background: rgba(0, 0, 10, 0.3);
	margin: 10px;
	border: solid 1px #AEAEAE;
	border-radius: 10px;
}
.card-style:hover {
	box-shadow: 10px 10px 10px 10px;
}
.card-style:hover .boutton{
	display: block;
	width: 150px;
}

/*=================================================================================
										SHOW ITEM
====================================================================================*/

.container-show{
	 border: 0 solid;
	 border-radius: 10px;
}
.container-show h1{
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 50px;
}
.container-show .card-style{
	margin: 0 auto;
	}