// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
	
	#table-container ,tbody{
		color: #000000;
	}

	.pic{
		width: 50px;
		border: 0 solid;
		border-radius: 20px;
	}
	.table-font{
			height: 50px;
			line-height: 50px;
	}

	.remove{
		width: 120px;
	}

	.footer-basket{
		padding:0 0 20px 50px;
	}

		.outline a{
		text-decoration: none;
		font-weight: bold;
		font-size: 18px;
		color: #FFFFFF;
	}

	.outline{
	cursor: pointer;
	border: solid #FFFFFF 1px;
	border-radius: 5px;
	text-decoration: none;
	padding: 10px;
}
.outline-info{
	background: #423E3E;
	border: solid #FFFFFF 1px;
	border-radius: 5px;
}
.outline-info:hover {
	background: #222020;	
	}


