// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body{
	background: image-url("chatheureux.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.carousel-item {
  height: 150px;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
